<div class="container">
  <div class="row">
    <h1>Products</h1>
    <p>
      <button {{action 'addProduct'}} class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add Product</button>
    </p>
  </div>
  <div class="row">
    {{#each model as |product|}}
      {{product-panel product=product}}
    {{/each}}
  </div>
</div>
